{% extends "bootstrap4/form.html" %}

{% block form_group_class %}form-group{% endblock %}

{% block form_label_class %}form-label{% endblock %}

{% block form_widget_class %}form-control{% endblock %}

{% block form_errors %}
    {%if form.errors %}
        <div class="invalid-feedback">
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}