.main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: fit-content;
    background-color: var(--color-text-rose-opacity);

 }
 .container-signup {
/*      background-color: var(--color-text-rose-opacity); */
     width: 33rem;
     border-radius: 10px;
 }
 .form-group {
     overflow: hidden;
     margin-bottom: 20px;
     width: 30rem;
 }
 .loginhere {
     color: #555;
     font-weight: 500;
     text-align: center;
     margin-bottom: 5px;
 }
 .form-input  {
     width: 100% !important;
     border: 1px solid #ebebeb;
     border-radius: 5px;
     padding: 10px 20px;
     box-sizing: border-box;
     font-size: 14px;
     font-weight: 500;
     color: #222;
 }


 form#signup-form {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;}
h2 {
     line-height: 1.66;
     margin: 0;
     padding: 0;
     font-weight: 900;
     color: #222;
     font-family: montserrat;
     font-size: 24px;
     text-transform: uppercase;
     text-align: center;
     margin-bottom: 20px;
     margin-top: 20px;
 }

 img {
     width: 200px;
 }
 #submit {
     color: white;
     background-color:#FF62C7;
     border-radius: 5px;
     padding: 0px 10px 0px 10px;
     font-size: 1.5rem;
 }