
 /* person */

 .person1 img {
     width: 100px;
     margin-bottom: -30px;
     margin-left: -30px;
     
}
.name_match {
     background-color: var(--color-box-violet);
     border: 1px solid var(--color-box-violet);
     width: 20rem;
     height: 8rem;
     border-radius: 10px;
     font-size: 20px;
     text-align: center;
     font-family: var(--font-family-custom);
  /*    color: var( --color-text-rose) */
 }
 .name_match:hover {
     background-color: rgba(238, 130, 238, 0.668);
 }
 .name_match p{
     margin-top: 20px;
 }
/* 
 .section3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;


    border: 1px solid white;
    border-radius: 30px;

    width: 30em;
    height: 10rem;

    margin: 20px 0 20px 0;
    padding: 20px;
    background-color: #ca9fdb5e;
    box-shadow: 0em 0.4em 0.4em 0.4em #ffffff94;

} */