* {
     margin: 0;
     padding: 0;
}
:root {
     --font-family-custom:'CustomFont', sans-serif;


     --color-text-rose: rgb(255, 0, 187);
     --color-text-rose-opacity:  rgba(255, 0, 187, 0.21);
     --color-box-violet: #ca9fdb5e;
     --margin-bottom: 2rem;
     --font-size: 20px;
}

/* login page */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* logo bar */
img {
     width: 100%;
}
a {
     text-decoration: none;
     color: var(--color-text-rose);
}
@font-face {
     font-family: "CustomFont";
     src: url("../styles/CustomFont/CustomFont.woff") format("woff"),
          url("../styles/CustomFont/CustomFont.woff") format("opentype"),
          url("CustomFont.svg#filename") format("svg");
}

.container_top {
     display: flex;
     justify-content: space-around;
     height: 100px;
}
.container{
     align-items: center;
}

.logo_name {
     width: 200px;
     display: flex;
     align-items: center;
}

/* Naviga bar */
body {
     height: 100vh;
     padding: 20px;
     background-size: cover;
     background-image: url(../images/temporaire.jpg);
     background-attachment: fixed;
}

.nav_bar_menu {
     display: flex;
     align-items: center;
     width: 50%;
}

.nav_bar_menu * {
     display: inline;
}

.nav_bar_menu li {
     margin: 10px;
     display: inline-block;

}

.button-style {
     color: var(--color-text-rose);
     text-decoration: none;
     border: solid 1px black;
     border-radius: 10px;
     background-color: white;
     padding: 15px;
     box-shadow: 0 0 5px  rgb(126, 116, 116) inset;
     transition: 0.4s;

     font-size: 1.2rem;
     font-family: 'CustomFont', sans-serif;

     margin-right: 1rem;
     height: 4.5rem;

     cursor: pointer;

}

/* full page */
.fullpage {
     display: flex;
     flex-direction: column;
     align-items: center;
}

/*section2  */
.intro-text {
     font-size: 2rem;
     text-align: center;
     font-family:  'CustomFont', sans-serif;
     margin-bottom: 2rem;
    line-height: 3rem;
    color: var(--color-text-rose);

}

.penguin {
     width: 20em;
}

.section2 {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     flex-direction: column;


     border: 1px solid white;
     border-radius: 30px;

     width: 50em;
     height: 30rem;

     margin: 50px 0 100px 0;
     padding: 20px;
     background-color: #ca9fdb5e;
     box-shadow: 0em 0.4em 0.4em 0.4em #ffffff94;
}


.penguin_photo {
     display: flex;
     justify-content: center;
     flex-direction: column;
}

.scale_button {
     font-size: 30px;
}


/* footer */
.footer {
     font-size: 10px;
     color: rgba(0, 0, 0, 0.341);
}

/* section 1 */

.section1 {
     height: 150px;
     display: flex;

     align-items: end;
     justify-content: center;


 }

 .hr-underline {

     margin-top: 10px;
     height: 4px;
     background-color: var(--color-box-violet);
 }

 .content-to-show {

     position: absolute;


     font-size: 20px;
    
     line-height: 2.5rem;

     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: rgb(153, 36, 36);

     transition: 0.4s;


     opacity: 0;
     visibility: hidden; 

 }


 .about-to-show, .intro-about {
     opacity: 1;
     visibility: visible;
 }
 .icon-chim {
      width: 10rem;
     }
     /* section 3 - login page */
     .big-text {
          margin-top: 5rem;
          font-family: var(--font-family-custom);
          text-align: center;
          color: var(--color-text-rose);
     }
     .second-text {
          margin-top: 1rem;
          font-family: var(--font-family-custom);
          text-align: center;
          color: var(--color-text-rose);
          margin-bottom: var(--margin-bottom);
          font-size: 1.2rem;
     }
#how ul li {
     list-style: none!important;
     text-align: left;
}
/* account page */
.section3 {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     flex-direction: column;
 
 
     border: 1px solid white;
     border-radius: 30px;
 
     width: 30em;
     height: 10rem;
 
     margin: 20px 0 20px 0;
     padding: 20px;
     background-color: #ca9fdb5e;
     box-shadow: 0em 0.4em 0.4em 0.4em #ffffff94;
 
 }