{% extends "website/mymatch_base.html" %}
{% load static %}

{% block body %}
 <div class="fullpage result">
     <div class="row">
     {% block content %}
     {% if matched_user %}
          <p>Congratulations, you matched with {{ matched_user }}!</p>
     {% endif %}
     <!--<h1>Match</h1>
     <p>{{ request.user.username }} {{ percentage }}%</p>-->
     {% endblock %}
          <div class="person1 col-4" >
               <img src="{% static 'images/penguin_8bits_a.png' %}" alt="logo">
               <div class="name_match">
                    <p>Your matches {{ percentage }}%</p>
                    <!--<p>99%</p>-->
               </div>
          </div>
          <div class="person1 col-4">
               <img src="{% static 'images/penguin_8bits_b.png' %}" alt="logo">
               <div class="name_match">
                    <p>Mia Meo meo</p>
                    <p>99%</p>
               </div>
          </div>
          <div class="person1 col-4">
               <img src="{% static 'images/penguin_8bits_c.png' %}" alt="logo">
               <div class="name_match">
                    <p>Mia Meo meo</p>
                    <p>99%</p>
               </div>
          </div>
     </div>
</div> 

{% endblock %}
