{% extends "website/account_base.html" %}
{% load static %}

{% block body %}
<form method="post">
     {% csrf_token %}
     {% for question in questions %}
          <h3>{{ question.question_text }}</h3>
          {% for choice in question.choice_set.all %}
               <div>
                    <input type="radio" id="choice{{ choice.id }}" name="question{{ question.id }}" value="{{ choice.id }}">
                    <label for="choice{{ choice.id }}">{{ choice.choice_text }}</label>
               </div>
          {% endfor %}
     {% endfor %}
     <a href="{% url 'mymatch' %}" class="button-menu button-style scale_button" data-show="match">Match</a>
</form>

{% endblock %}