{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title> account </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="fullPage fixed full-screen backgrounds." />
  <!-- bootstrap -->

  <link href="./vendor/css/bootstrap.css" rel="stylesheet">


  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <link rel="stylesheet" href="{% static 'styles/login.css' %}">
  <link rel="stylesheet" href="{% static 'styles/signup.css' %}">

</head>

<body>
  <header>
    <div class="container_top">
      <div class="logo_name">
                    <img src="{% static 'images/logo.png' %}" alt="logo-pebble">
      </div>
      
      <div class="nav_bar_menu">
          <ul>
               <li>
                    <a href="{% url 'quiz' %}" class="button-style button-menu" data-show="quiz"> Quiz </a>
                  </li>
                  <li>
                    <a href="{% url 'about' %}"class="button-style button-menu" data-show="myMatch"> About </a>
                  </li>
                  <li>
                    <a href="{% url 'logout' %}" class="button-style button-menu" data-show="login">Logout</a>
                  </li>
               </li>
          </ul>
      </div>
    </div>
  </header>
  
     <div class="fullpage">          
          <div class="logout button-style ">
               <div>Hello</div>
               <div> {{ request.user.username }}</div>
          </div>
 
          <div class="section2 fp-auto-height" id="section2">
               <div class="greating_text"> 
                    <form action="" method="post" novalidate>
                         <div>
                              <h2>Are you ready to start?</h2>
                              <br>
                              <h2>Please click on Quiz</h2>

                         </div>
                         <div class="submit-row">
                              <input class="button-style" type="submit" value="Quiz now">
                          </div>
                         <!--<div>
                              <input type="submit" class="button-style" value="Start">
                         </div>-->
                    </form>
               </div>
          </div>
     </div>
</div>
  <footer>
    <hr>
    <p class="footer">Project Portfolio ToNoeMia</p>
    </footer>
<!--   <script type="text/javascript" src="./index.js"></script> -->
  <script type="text/javascript" src="./js/home.js"></script>
  <script type="text/javascript" src="./js/form.js"></script>
</body >
</html >