{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
     <title> About </title>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="fullPage fixed full-screen backgrounds." />
     <!-- css -->
     <link rel="stylesheet" href="{% static 'styles/style.css' %}?{% now 'U' %}">
</head>

<body>
     <header>
          <div class="container_top">
               <div class="logo_name">
                    <img class="images_logo" src="../static/images/logo.png" alt="logo-pebble">
               </div>
               <div class="nav_bar_menu">
                    <nav>
                         <ul>
                              <li>
                                   <a href="{% url 'index' %}" class="button-menu button-style"
                                        data-show="home">Home</a>
                              </li>
                              <li>
                                   <a href="{% url 'about' %}"
                                        class="scale_button button-menu button-style" data-show="about">About</a>
                              </li>
                              <li>
                                   <a href="{% url 'login' %}" class="button-menu button-style"
                                        data-show="login">Login</a>
                              </li>
                         </ul>
                    </nav>
               </div>
          </div>
     </header>
     <div class="container">
          <div class="section1 row">
               <div class="col-sm-3">
                    <span  type="button" data-show="about">
                         <!--<img src="../static/images/Home_page_penguins.png" class="icon-chim"alt="logo-chimcanhcut">-->
                    </span>
               </div>
               <div class="col-sm-3">
                    <button class="btn btn_about button-style " type="button" data-show="what">
                         <p>WHAT IS PEBBLE MATCH?</p>
                    </button>
               </div>
               <div class="col-sm-3">
                    <button class="btn btn_about button-style " type="button" data-show="why">
                         <p>WHY PEBBLE? </p>
                    </button>
               </div>
               <div class="col-sm-3">
                    <button class="btn btn_about button-style " type="button" data-show="how">
                         <p>HOW TO USE PEBBLE MATCH? </p>
                    </button>
               </div>
          </div>
          <div class="row">
               <div class="hr-underline"></div>

          </div>
          <div  class="fullpage">
               <div class="section2 fp-auto-height" id="section2">
                    <div class="content-to-show intro-about" , id="about">
                         <p>
                              Love is not always at first sight. <br>
                              Love can be blind, <br>
                              Love can be cultivated. <br>
                              However, <br>
                              Love can also be damaged. <br>
                              By all the upsetting little things in our different living habits, behaviors, values and
                              so on. <br>
                              Instead of trying to change all these gaps, <br>
                              Why not avoid them in the first place? <br>

                         </p>
                    </div>
                    <div class="content-to-show" id="what">
                         <p>
                              Pebble Match is a matchmaker website. <br>
                              There is no judgment on people’s looks. <br>
                              Pebble Match matches people by a questionnaire on habits and values, <br>
                              Which is a fundamental (albeit often overlooked) element in a relationship. <br>
                         </p>


                    </div>
                    <div class="content-to-show" id="why">
                         <p>
                              Have you noticed that there are some little penguins waddling around on the site? <br>
                              Yes! They have a story too! <br>
                              For some species of penguins (Adelie, Chinstrap and Gentoo), <br>
                              a male penguin searches for the prettier pebble to propose to the penguin of its life.<br>
                              (after all, humans also propose with a diamond) <br>
                              If the other penguin likes it, it will bring it back to its nest, <br>
                              Then the two love birds can build up their pebble nest to raise their family! <br>

                         </p>

                    </div>
                    <div class="content-to-show" id="how">
                         <ul>
                              <li>1. You must sign up to create an account, and <b> “Login”</b>.</li>
                              <li>2. In your personal page, click “Quiz” to start.</li>
                              <li>3. Once you finish the quiz, click on “Match”.</li>
                              <li>4. Your top three matches will show up on the page.</li>
                              <li>5. You have three complementary pebbles to decide who to give a pebble to.</li>
                              <li>6. If your match accepts your pebble, then you might have found your match!</li>
                              <li>7. Receive a notification in your mailbox whether your pebble has been accepted or rejected.</li>
                         </ul>

                    </div>

               </div>
          </div>
     </div>
     <footer>
          <hr>
          <p class="footer">Project Portfolio ToNoeMia</p>
     </footer>
     <script type="text/javascript" src="../static/index.js"></script>
</body>


</html>