{% extends "website/mymatch_base.html" %}
{% load static %}

{% block body %}
 <div class="fullpage result">
     <div class="row">
     {% block content %}
     {% for match in matches %}
          <h3>{{ match.user1.username }} and {{ match.user2.username }}</h3>
          <p>{{ match.percentage }}
     {% empty %}
          <p>No matches found.</p>
     {% endfor %}
     {% endblock %}
     <div class="container">
          <div class="row">
               <div class="person1 col-4" >
                   
                    <img src="{% static 'images/penguin_8bits_a.png' %}" alt="logo">
                    <div class="name_match">
                         <p>Your matches {{matched_user}}</p>
                         </p>  {{ percentage }}%</p>
                         <button class="button-style">Send a Pebble</button>
                    </div>
               </div>
               <div class="person1 col-4">
                    <img src="{% static 'images/penguin_8bits_b.png' %}" alt="logo">
                    <div class="name_match">
                         <p>Your matches </p>
                    </p>  {{ percentage }}%</p>
                    <button class="button-style"> Send a Pebble</button>
                    </div>
               </div>
               <div class="person1 col-4">
                    <img src="{% static 'images/penguin_8bits_c.png' %}" alt="logo">
                    <div class="name_match">
                         <p>Your matches </p>
                    </p>  {{ percentage }}%</p>
                    <button class="button-style">Send a Pebble</button>
                    </div>
               </div>
          </div>
     </div>
       
     </div>
</div> 

{% endblock %}
